.app {
    background-color: aqua;
    padding: 15px 700px 15px 700px;
    min-width: 500px;

    .title {
        font-size: 40px;
    }

    .inputContainer {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        border-radius: 8px;
        background-color: white;

        .input {
            width: 100%;
            
            border: none;
            font-size: 20px;
            line-height: 20px;
            

            &:focus-visible {
                outline: none;
            }
        }

        .addTodo {
            background: plum;
            color:white;
            border-radius: 15px;
            border: none;
            border-color: plum
        }
    }
    
      
}